<style>
    .notfound-container {
        width: 100%;
        min-height: 90dvh;
        min-height: 90vh;
        /*center text*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size:clamp(1rem,2.5vw,3rem);
        text-transform:uppercase;
        word-spacing:3px;
        color:red;
    }
</style>

<div class="notfound-container">
   page Not found
</div>