<style>
.home-container
{
    width:100%;
    min-height:90vh;
    background-color:#424242;
    /*center text*/
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    color:red;
    font-size:clamp(5rem,7vw,20rem);
 }
</style>

<div class="home-container">
    WElCOME TKC MDS
</div>
