@{
	ViewData["Title"] = "AdjustOrder";
}


<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">


		<!--begin::Row-->
		<div class="row gy-5 g-xl-10">
			<div class="col-xl-2  "></div>

			<!--begin::Col-->
			<div class="col-xl-8  ">
				<!--begin::Table Widget 5-->
				<div class="card card-flush h-xl-100">
					<!--begin::Card header-->
					<div class="card-header pt-7">
						<!--begin::Title-->
						<h3 class="card-title align-items-start flex-column">
							<span class="card-label fw-bold text-dark">ปรับ Order</span>
						</h3>
						<!--end::Title-->
						<!--begin::Actions-->
						<!--end::Actions-->
					</div>
					<!--end::Card header-->
					<!--begin::Card body-->
					<div class="card-body table-responsive">
						<span class="card-label fw-bold text-danger">
							รูปแบบวันที่ วว/ดด/ปปปป
							(คศ)
						</span>
						<!--begin::Table-->
						<table class="table align-middle fs-6 gy-3  " id="kt_table_widget_5_table">
							<!--begin::Table head-->
							<!--begin::Table row-->
							<tbody>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										ลูกค้า :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px">
											<option value="0" selected="selected" disabled="" data-select2-id="select2-data-3-k22b">
												เลือกลูกค้า
											</option>
											<option value="1">4302-MITSUBISHI P/C</option>
											<option value="2">4303-TOYOTA </option>

										</select>
									</td>
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										ประเภทข้อมูล :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px">
											<option value="0" selected="selected" disabled="" data-select2-id="select2-data-6-0afp"></option>
											<option value="1">4302-MITSUBISHI P/C</option>
											<option value="2">4303-TOYOTA </option>
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										เลื่อน/ยกเลิก :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px">
											<option value="1" data-select2-id="select2-data-9-8z3w">01- เลื่อน</option>
											<option value="2">02- ยกเลิก </option>
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										Plant :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px">
											<option value="1" data-select2-id="select2-data-12-42lb">All</option>
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										เลขที่ Orders :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px ">
											<option value="1" data-select2-id="select2-data-15-z6q8">All</option>
										</select>
									</td>
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										PO :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px">
											<option value="1" data-select2-id="select2-data-18-wbd7">All</option>
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										เลื่อนเข้า/ออก :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px">
											<option value="1" data-select2-id="select2-data-21-9fmk">เลื่อนเข้า</option>
											<option value="2">เลื่อนออก</option>
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										ระบุพาร์ท :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px">
											<option value="1" data-select2-id="select2-data-24-npyo">0-ทั้งหมด</option>
										</select>
									</td>
									<th>
										<button type="button" class="btn btn-secondary fw-bold fs-7">
											กำหนดพาร์ท
										</button>
									</th>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										ระบุโมเดล :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px">
											<option value="1" data-select2-id="select2-data-27-aww2">0-ทั้งหมด</option>
										</select>
									</td>
									<th>
										<button type="button" class="btn btn-secondary fw-bold fs-7 ">
											กำหนดโมเดล
										</button>
									</th>
								</tr>

								<!--end::Table row-->
								<!--end::Table head-->

							</tbody>
						</table>
						<!--end::Table-->
						<div class="d-flex justify-content-center">
							<a class="btn btn-sm fw-bold btn-primary me-2">บันทึก</a>
							<a class="btn btn-sm fw-bold btn-secondary">ยกเลิก</a>
						</div>

					</div>
					<div class="card-body table-responsive">
						<!--begin::Table-->
						<table class="table align-middle fs-6 gy-3 table-striped table-bordered " id="kt_table_widget_5_table">
							<!--begin::Table head-->
							<thead>
								<!--begin::Table row-->
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-start  text-gray-400 pe-3 min-w-10px">
										#
									</th>
									<th class="text-start  text-gray-400 pe-3 min-w-100px">
										วันที่ต้นทาง
									</th>
									<th class="text-center  text-gray-400 pe-3 min-w-100px">
										Period
									</th>
									<th class="text-start  text-gray-400 pe-3 min-w-100px">
										Time
									</th>
									<th class="text-center  text-gray-400 pe-3 min-w-100px">
										วันที่ปลายทาง
									</th>
									<th class="text-start  text-gray-400 pe-3 min-w-100px">
										Period
									</th>
									<th class="text-center  text-gray-400 pe-3 min-w-100px">
										Time
									</th>

								</tr>

								<!--end::Table row-->
							</thead>
							<!--end::Table head-->
							<tbody>
								<tr>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>

								</tr>
								<tr>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
								</tr>
								<tr>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
								</tr>
								<tr>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
								</tr>
								<tr>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
								</tr>
								<tr>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
									<td class="text-start  pe-3 min-w-10px"></td>
								</tr>
							</tbody>
						</table>
						<!--end::Table-->


					</div>
					<!--end::Card body-->
				</div>
				<!--end::Table Widget 5-->
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
	</div>
	<!--end::Content container-->
</div>