@{
	ViewData["Title"] = "Report";
}
<form id="kt_app_content" class="app-content flex-column-fluid" onsubmit="return false">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">


		<!--begin::Row-->
		<div class="row gy-5 g-xl-10">
			<div class="col-xl-2  "></div>

			<!--begin::Col-->
			<div class="col-xl-8  ">
				<!--begin::Table Widget 5-->
				<div class="card card-flush h-xl-100">
					<!--begin::Card header-->
					<div class="card-header pt-7">
						<!--begin::Title-->
						<h3 class="card-title align-items-start flex-column">
							<span class="card-label fw-bold text-dark">พิมพ์รายงาน</span>
						</h3>
						<!--end::Title-->
						<!--begin::Actions-->
						<!--end::Actions-->
					</div>
					<!--end::Card header-->
					<!--begin::Card body-->
					<div class="card-body table-responsive">
						<span class="card-label fw-bold text-dark">เงื่อนไขรายงาน</span>
						<!--begin::Table-->
						<table class="table align-middle fs-6 gy-3  " id="kt_table_widget_5_table">
							<!--begin::Table head-->
							<!--begin::Table row-->
							<tbody>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										ลูกค้า :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px" id="select_custumer" name="CustId" onchange="getMounthReport()">
											@*
											<option value="0" selected="selected" disabled="" data-select2-id="select2-data-3-8t7j">
												เลือกลูกค้า
											</option>
											<option value="1">4302-MITSUBISHI P/C</option>
											<option value="2">4303-TOYOTA </option>*@
										</select>
									</td>
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										ประเภทข้อมูล :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px" id="select_dataType" name="DataType" onchange="getMounthReport()">
											@*<option value="0" selected="selected" disabled="" data-select2-id="select2-data-6-mm44"></option>
											<option value="1">4302-MITSUBISHI P/C</option>
											<option value="2">4303-TOYOTA </option>*@

										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										ประเภทรายงาน :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px" name="ReportType">
											@*<option value="1" data-select2-id="select2-data-9-lsju">แผนการส่งของ</option>*@
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										เดือนรายงาน :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px" id="select_month" name="ReportMount">
											@*<option value="1" data-select2-id="select2-data-12-7me1">06-2023</option>
											<option value="1">07-2023</option>
											<option value="1">08-2023</option>*@
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										export ประเภท :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px" name="DocReportType">
											<option value="PDF" selected>PDF</option>
											<option value="CSV">CSV(excell)</option>
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-dark pe-3 min-w-100px">
										เพิ่มเติม
									</th>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										Plant :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px" name="Plan">
											@*<option value="1" data-select2-id="select2-data-15-nlkk">All</option>*@
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										Period :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px" name="Period">
											@*<option value="1" data-select2-id="select2-data-18-2vhz">All</option>*@
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										Due Time :
									</th>
									<td class="text-end pe-3 min-w-50px">
										<select class="form-select form-select-sm form-select-solid w-200px" name="DueTime">
											@*<option value="1" data-select2-id="select2-data-21-tssa">All</option>*@
										</select>
									</td>
								</tr>
								<tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
									<th class="text-end  text-gray-400 pe-3 min-w-100px">
										P/N ลูกค้า :
									</th>
									<td class="text-start pe-3 min-w-50px">
										<input type="text" name="PNCust" id="">
									</td>
								</tr>
								<!--end::Table row-->
								<!--end::Table head-->
							</tbody>
						</table>
						<!--end::Table-->
						<div class="d-flex justify-content-center">
							<button type="button" class="btn btn-sm fw-bold btn-primary me-2" onclick="openFile()">เปิดรายงาน</button>
							<button type="button" class="btn btn-sm fw-bold btn-secondary">ยกเลิก</button>
						</div>

					</div>

					<!--end::Card body-->
				</div>
				<!--end::Table Widget 5-->
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
	</div>
	<!--end::Content container-->
</form>

<script>
	const getMounthReport = ()=>{
		const custId = document.getElementById("select_custumer").value;
		const dataType = document.getElementById("select_dataType").value;
		fetch("/order/GetMounthReport?custId=" + custId + "&dataType=" + dataType, { method: "post" }).then(res => res.json()).then(data => {
			console.log(data);
			let html = data.reduce((prev, curr) => prev += `<option  value="${curr}" >${curr}</option>`, `<option selected value="" >---เลือก---</option>`);
			document.getElementById("select_month").innerHTML = html;

		}).catch(error => console.log(error));
	}

	const openFile = ()=>{
		let form = document.getElementById("kt_app_content");
		let formData = new FormData(form);
		fetch("/order/Report", { method: "post", body: formData }).then(res => res.blob()).then(blob => {
			console.log(blob)
			if (blob.error) {
				Swal.fire('เกิดข้อผิดพลาด '+data.error);
				return;
			}
			if (blob) {
				let blob_url = URL.createObjectURL(blob);
				window.open(blob_url, "_blank");
				URL.revokeObjectURL(blob_url);
			}
		}).catch(error => console.log(error));
	}

	window.onload = async () => {
		let select_custumer = document.getElementById("select_custumer");
		const listUser = await fetch("/order/JsonCustumer");
		const users_json = await listUser.json();
		select_custumer.innerHTML = users_json.reduce((prev, curr) => prev += `<option value="${curr?.custID}">${curr?.custID}-${curr?.custName} </option>`, `<option selected value="" >---เลือก---</option>`);

		const dataType = await fetch("/order/JsonDataType_MS");
		const data_type = await dataType.json();
		let select_dataType = document.getElementById("select_dataType");
		select_dataType.innerHTML = data_type.reduce((prev, curr) => prev += `<option value="${curr?.typeCode}">${curr?.typeCode}-${curr?.typeName}</option>`, `<option selected value="" >---เลือก---</option>`);
	}
</script>